* {
  font-family: 'Oxygen', sans-serif;
}

body {
  display: flex;
  margin: 0;
}

/* Selection panel */
section.selection-panel {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  height: max-content;
}

div.puzzle-piece {
  /* Image */
  position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  /* Div */
  width: 5vw;
  height: 7vw;

}

/* Puzzle panel */
section.puzzle-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-left: 15vw;
}

div.puzzle-piece-location {
  width: calc(25vh / 1.3);
  height: 25vh;
  border: solid black 1px;
  position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
